

.skills-body img {
  width: 15rem;
  height: 15rem;
  padding: 2rem;
  flex-direction: column;
}

.skills-body h1 {
  padding: 3rem;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.flex-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width:667px) {
  .skills-body img {
    width: 10rem;
  height: 10rem;
  padding: 2rem;
  }
}