.wrapper {
    position: fixed;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
}


nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-ele {
    float: right;
}

nav ul li {
    justify-content: flex-end;
    display: inline-flex;
}

nav ul li .link {
    position: relative;
    padding: 1.25rem;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.065rem;
    cursor: pointer;
}

nav h2 {
    padding: 1.25rem;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Courier New", Courier, monospace;
  }

nav ul li .link:hover {
    color: #e4428e;
    transition: .5s;
}

nav ul li .link:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: rgba(255,255,255,0.9);
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
}

nav ul li .link:hover:after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}

.bold {
    font-weight: bold;
}