#footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3.438rem;
    width: 100vw;
    border-top: 0.063rem solid #fff;
    justify-content: space-between;

  }

  .footer--text {
    padding: 1rem;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    color: #fff;
  }

  .footer--socialLinks {
    color: #fff;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
  }

  .social:hover {
    color: #e4428e;
  }


  .social {
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #fff;
    overflow: hidden;
  }

  .footer--a {
    color: #fff;
  }

  @media screen and (max-width:667px) {
    .footer--text {
      font-size: 16px;
    }
    .social {
      margin: 0;
    }
    .fab {
      font-size: 1.5rem !important;
    }
  }